{% extends "base.html" %}

{% block title %}Доставка{% endblock %}

{% block extra_head %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">

<link rel="stylesheet" href="/static/style/style_under.css"/>
{% endblock %}

{% block content %}
<section class="under center">
    <div class="under__block">
        <img class="under__img" src="/static/img/under.png" alt="">
    </div>

    <h1 class="under__title">Уважаемые посетители,</h1>
    <p class="under__text">данный раздел пока в разработке.</p>
</section>
{% endblock %}